@import './colors';

.btn {
    border-radius: 3px;
}
.btn:focus {
    box-shadow: none;
}
.btn-sm {
    padding: .2rem 1.3rem;
}
.btn-md {
    padding: .375rem 1.56rem;
    font-size: .9rem;
}
.btn-lg {
    padding: .625rem 2.2rem;
}
.table-btn {
    border: 1px solid $dark-green;
    border-radius: 5px;
    font-size: .75rem;
    color: $dark-green;
    font-weight: 500;
}

.btn-primary {
    background-color: $gold;
    border: 1px solid $gold;
    color: $white;
    box-shadow: none;
    height: 3rem;
    &:hover {
        background: $gold;
        border: 1px solid $gold;
        color: $white;
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: $gold;
    border-color: $gold;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-green-fill {
    background-color: $deep-green;
    border: 1px solid $deep-green;
    color: $white;
    box-shadow: none;
    &:hover {
        background: $dark-green;
        border: 1px solid $dark-green;
        color: $white;
    }
}
.gold-btn-fill {
    background-color: $gold;
    border: 1px solid $gold;
    color: $dark-text;
    font-weight: bold;
    box-shadow: none;
    &:hover {
        background: $gold;
        border: 1px solid $gold;
        color: $dark-text;
    }
}
.btn-black-fill {
    background-color: $dark-text;
    border: 1px solid $dark-text;
    color: $white;
    box-shadow: none;
    &:hover {
        background: $dark-text;
        border: 1px solid $dark-text;
        color: $white;
    }
}

.btn-green-fill:not(:disabled):not(.disabled).active, .btn-green-fill:not(:disabled):not(.disabled):active, .show>.btn-green-fill.dropdown-toggle {
    background-color: $deep-green;
    border-color: $deep-green;
}
.gold-btn-fill:not(:disabled):not(.disabled).active, .gold-btn-fill:not(:disabled):not(.disabled):active, .show>.gold-btn-fill.dropdown-toggle {
    background-color: $gold;
    border-color: $gold;
}
.btn-black-fill:not(:disabled):not(.disabled).active, .btn-black-fill:not(:disabled):not(.disabled):active, .show>.btn-black-fill.dropdown-toggle {
    background-color: $dark-text;
    border-color: $dark-text;
}
.btn-red-outline {
    background-color: transparent;
    border: 1px solid $red;
    color: $red;
    box-shadow: none;
    &:hover {
        background: transparent;
        color: $red;
    }
}

.btn-red-outline:not(:disabled):not(.disabled).active, .btn-red-outline:not(:disabled):not(.disabled):active, .show>.btn-red-outline.dropdown-toggle {
    background-color: transparent;
    border-color: $red;
}