// Default Colors //

$white: #ffffff;
$dark-green: #057431;
$deep-green: #01511A;
$light-green: #0A9C3B;
$heavy-green: #0A2816;
$dark-text: #333333;
$generic-text: #7D7D7D;
$light-text: #7892BB;
$small-text-color: #999999;
$anchor-hover-color: #CCCACA;
$black: #000000;
$red: #B41C40;
$gold: #CE9C08;
$off-white: #F8F9FF;
$dark-red: #c73535;
$text-field-border-color: #EBEBEB;
$text-field-background-color: #FCFCFC;
$main-body-background: #F6F6F6;
$document-border-color: #6A79DD; 
$table-text-color: #484848;
$border-bottom-color: #D8D8D8;