@import './colors';

#table {
    border-spacing: 0 .625rem;
    thead {
        th {
            border-color: transparent;
            padding-bottom: 0;
            color: $dark-text;
            font-size: 1rem;
            font-weight: bold;
            &:before, &:after {
                display: none;
            }
        }
    }
    tbody {
        tr {
            background-color: $white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            td {
                font-size: .9rem;
                padding: 1.25rem;
                border: transparent;
                border-radius: 0;
                vertical-align: middle;
                color: $table-text-color;
            }
        }
    }
}

.dataTables_wrapper {
    .dataTables_length, .dataTables_filter, .page-item.active .page-link, #table_paginate, #table_info {
        display: none;
    }
}