@import './colors';

label {
    color: $dark-green;
    font-size: .85rem;
}

.form-control {
    background: $text-field-background-color;
    border: 1px solid $text-field-border-color;
    border-radius: 3px;
    height: 3.1rem;
    &:focus {
        box-shadow: none;
        border: 1px solid $dark-green;
    }
    &::placeholder {
        font-size: .8rem;
    }
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: $deep-green;
    background-color: $deep-green;
}
.custom-control {
    label {
        cursor: pointer;
    }
}

#email {
    background: $text-field-background-color url("../../../assets/images/email.svg") right center no-repeat;
    background-position-x: 97%;
}
#password {
    background: $text-field-background-color url("../../../assets/images/lock.svg") right center no-repeat;
    background-position-x: 95%;
}

.custom-select {
    font-size: .8rem;
    background: $text-field-background-color url("../../../assets/images/chevron-down.svg") right center no-repeat;
    background-position-x: 98%;
    border: 1px solid $text-field-border-color;
    &:focus {
        border-color: $dark-green;
        box-shadow: none;
    }
}

.date {
    background: url("../../../assets/images/calendar.svg") left center no-repeat;
    background-position-x: 1rem;
    padding-left: 2.5rem;
}

