@import './colors';

.header-wrapper {
    background: $white;
    height: 3.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .25rem .625rem rgba(0, 0, 0, 0.05);
    padding: 0 1rem;
    .hamburger-wrapper {
        visibility: hidden;
    }
    .header-nav {
        ul {
            padding: 0;
            list-style: none;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            li {
                display: flex;
                align-items: center;
                height: 3.9rem;
                position: relative;
                cursor: pointer;
                &:nth-child(2) {
                    padding: 0 0 0 .9rem;
                }
                .badge {
                    position: absolute;
                    top: .875rem;
                    right: 0;
                    border-radius: 50%;
                    font-size: .625rem;
                }
                .account-info {
                    display: flex;
                    align-items: center;
                    .account-info__details {
                        margin-right: .625rem;
                        p {
                            color: $dark-text;
                            font-weight: 500;
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                    .account-info__details small {
                        color: $small-text-color;
                        font-size: .68rem;
                        display: flex;
                        justify-content: flex-end;
                        font-style: italic;
                    }
                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 991px) {
    .header-wrapper {
        padding: 0 2rem;
    }
}

@media (max-width: 991px) {
    .header-wrapper {
        .hamburger-wrapper {
            visibility: visible;
        }
    }
}