@import './colors';

.sidebar {
    min-height: 100vh;
    width: 0px;
    overflow: hidden;
    .sidebar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: rgba(0, 0, 0, .5);
    }
    .sidebar-wrapper {
        min-height: 100vh;
        position: relative;
        background: url('../../../assets/images/sidebar-overlay.svg') center center;
        background-size: cover;
        .logo-wrapper {
            padding: 1.875rem 0 0 3.125rem;
            img {
                max-height: 6.25rem;
            }
            span {
                position: absolute;
                right: .9rem;
                top: .9rem;
            }
        }
        .sidebar-links {
            margin-top: 0;
            ul {
                li {
                    a {
                        color: $white;
                        display: block;
                        padding: .75rem 0 .75rem 3.125rem;
                        &:hover {
                            text-decoration: none;
                            color: $anchor-hover-color;
                        }
                        &.active {
                            border-left: .31rem solid $gold;
                            background: rgba(196, 196, 196, .2);
                            padding-left: 2.815rem;
                        }
                    }
                    .list-unstyled {
                        padding-left: 1rem;
                        li {
                            &:last-child {
                                padding-bottom: 0;
                            }
                            .active-child {
                                color: $gold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidebar-open {
    .sidebar {
        width: 80%;
        z-index: 3;
        .sidebar-overlay {
            width: 100%;
        }
        .sidebar-links {
            margin-top: 2.5rem;
        }
    }
}
.sidebar-open {
    .main-content {
        position: fixed;
        z-index: 2;
    }
}

@media (min-width: 992px) {
    .sidebar {
        width: 16.25rem;
        position: fixed;
        .sidebar-wrapper {
            .sidebar-links {
                margin-top: 2.5rem;
            }
        }
    }
}