@import './settings/colors';

.inner-content {
    min-height: calc(100vh - 7.8rem);
    padding: 0;
    h1 {
        color: rgba(206, 156, 8, .5);
        font-size: 3rem;
    }
    h3, p {
        color: rgba(140, 151, 172, .5);
        font-size: 2rem;
        margin: 1rem 0;
    }
    p {
        font-size: 1rem;
    }
}

@media(min-width: 768px) {
    .inner-content {
        h1 {
            font-size: 6rem;
        }
        h3 {
            font-size: 4rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}
@media (min-width: 992px) {
    .main-content {
        .main-content__body {
            .inner-content {
                padding: 2.375rem 2rem;
            }
        }
    }
}