@import './settings/colors';

.inner-content {
    .inner-content__header {
        display: flex;
        flex-direction: column;
        p {
            color: $generic-text;
            font-size: .875rem;
        }
        h4 {
            color: $black;
        }
    }
    .inner-content__search-bar {
        margin: 2rem 0 1.5rem;
        box-shadow: 0px 2px 4px rgba(82, 82, 82, 0.12);
        background: $white;
        border-radius: .375rem;
        padding: .2rem 1rem;
        .form-control {
            background: transparent;
            border: none;
            &:focus {
                border: none;
            }
        }
        .custom-select {
            border: none;
            background-position-x: 75%;
            background-color: transparent;
            color: $gold;
        }
        .filter-wrapper {
            display: flex;
            align-items: center;
            padding-bottom: .5rem;
            h6 {
                width: 50%;
                color: $small-text-color;
                font-size: .8rem;
            }
        }
    }
}

@media(min-width: 992px) {
    .inner-content {
        .inner-content__search-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .search-wrapper {
                width: 80%;
            }
            .filter-wrapper {
                width: 20%;
                padding-bottom: 0;
            }
        }
    }
}