@import './settings/colors';

.inner-content {
    .inner-content__header {
        display: flex;
        flex-direction: column;
        p {
            color: $generic-text;
            font-size: .875rem;
        }
        h4 {
            color: $black;
        }
    }
    .inner-content__bid-form {
        margin: 1.5rem 0;
        .card {
            border: none;
            .card-header {
                background-color: $deep-green;
                border-radius: .31rem .31rem 0 0;
                padding: 1.25rem;
                h5 {
                    color: $white;
                }
            }
            .card-body {
                box-shadow: 0px 2px 9px rgba(0, 0, 0, .03);
                padding: 1.56rem 1.25rem 4.375rem;
                form {
                    label {
                        color: $dark-text;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}