@import './settings/colors';

.inner-content {
    .inner-content__header {
        display: flex;
        flex-direction: column;
        p {
            color: $generic-text;
            font-size: .875rem;
        }
        h4 {
            color: $black;
        }
        span {
            color: $gold;
        }
        ul {
            li {
                display: inline-block;
                padding: 0 .875rem;
                font-size: .875rem;
                color: $generic-text;
                position: relative;
                &:last-child {
                    padding-right: 0;
                }
                &.active {
                    color: $light-green;
                    padding-bottom: .625rem;
                    &::after {
                        content: '';
                        width: 1.56rem;
                        background: $light-green;
                        height: 2px;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    .inner-content__summary {
        margin: 1.56rem 0;
        .card {
            background: $heavy-green;
            border: 1px solid $heavy-green;
            border-radius: 6px;
            padding: 1.56rem 1.25rem;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1.25rem;
            img {
                margin-right: 2rem;
            }
            .summary-text {
                color: $white;
            }
        }
    }
    .inner-content__new {
        margin: 0 0 2.5rem 0;
        h4 {
            color: $gold;
        }
        .card {
            background: $white;
            border-radius: 0;
            border: transparent;
            padding: 3rem 1.25rem;
            align-items: center;
            margin-top: 1.25rem;
            box-shadow: 0px 4px 1.25rem rgba(0, 0, 0, .05);
            img {
                height: 3.375rem;
                margin-bottom: 1rem;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    .inner-content__projects {
        h4 {
            color: $gold;
        }
        p {
            color: $generic-text; 
        }
        .project-search {
            input {
                height: 2.6rem;
            }
        }
    }
}

@media(min-width: 992px) {
    .inner-content {
        .inner-content__new {
            .card {
                max-width: 85%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}