@import './settings/colors';
@import './settings/buttons';
@import './settings/forms';
@import './settings/sidebar';
@import './settings/header';
@import './settings/datatables';

.main-content {
    min-height: 100vh;
    width: 100%;
    margin-left: 0;
    .main-content__body {
        min-height: calc(100vh - 7.8rem);
        background: $main-body-background;
        .inner-content {
            padding: 1.56rem 1rem;
        }
    }
    .main-content__footer {
        background: $white;
        padding: .31rem 1rem;
        min-height: 3.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            margin-bottom: 0;
            color: $small-text-color;
            font-size: .9rem;
        }
    }
}

@media (min-width: 992px) {
    .main-content {
        width: calc(100% - 16rem);
        margin-left: 16.25rem;
        .main-content__footer {
            padding: .31rem 2rem;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        .main-content__body {
            .inner-content {
                padding: 4.375rem 2rem 2.375rem;
                .inner-content__header {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}
