@import './settings/colors';

.login-page {
    background: url('/assets/images/bg-overlay.svg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .logo-wrapper {
        padding: 1.87rem 0;   
    }
    .login-form {
        flex: 1 0 auto;
        padding: .625rem 0;
        h1 {
            margin-bottom: 1.25rem;
            font-weight: 700;
            font-size: 4.5rem;
        }
        h1, p {
            color: $white;
        }
        .procurment-wrapper {
            position: relative;
            &::before {
                content: '';
                width: 3.9rem;
                height: .44rem;
                background: $white;
                position: absolute;
                left: -5rem;
                top: 2.8rem;
            }
        }
        .prcurement-title {
            color: $gold;
        }
        .card {
            margin-bottom: 1.25rem;
            .card-body {
                padding-left: 1.875rem;
                padding-right: 1.875rem;
                h2 {
                    color: $deep-green;
                    font-weight: 500;
                }
                form {
                    margin-top: 1.875rem;
                    a {
                        color: $dark-text;
                        padding: 0 5px;
                    }
                    .btn {
                        margin: 1.25rem 0 2rem 0;
                        padding: .75rem 0;
                        color: $white;
                    }
                    p {
                        color: $light-text;
                        font-size: .85rem;
                    }
                }
            }
        }
    }
    .footer {
        flex-shrink: 0;
        padding: 1.25rem 0;
        .footer-content {
            p {
                color: $white;
                font-size: .85rem;
            }
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                li {
                    color: $white;
                    display: inline-block;
                    padding-right: .625rem;
                    font-size: .85rem;
                    a {
                        color: $white;
                    }
                    &:first-child, &:nth-child(2) {
                        &::after {
                            content: '';
                            border-left: 1px solid $white;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .login-page {
        .logo-wrapper {
            img {
                height: 2.3rem;
            }       
        }
    }
}
@media (min-width: 992px) {
    .login-page {
        .login-form {
            padding: 3rem 0;
            .card {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .footer {
            .footer-content {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
