@import './settings/colors';

.inner-content {
    .inner-content__header {
        display: flex;
        flex-direction: column;
        p {
            color: $generic-text;
            font-size: .875rem;
        }
        h4 {
            color: $black;
        }
    }
    .inner-content__bid-form {
        margin: 1.5rem 0;
        .card {
            border: none;
            .card-header {
                background-color: $deep-green;
                border-radius: .31rem .31rem 0 0;
                padding: 1.25rem;
                .nav-tabs {
                    border-bottom: transparent;
                    .nav-item {
                        .nav-link {
                            color: rgba(255, 255, 255, .5);
                            font-size: 1.125rem;
                            &:hover {
                                border-color: transparent;
                            }
                            &.active {
                                background-color: transparent;
                                border-color: transparent;
                                color: $white;
                            }
                        }
                    }
                }
            }
            .card-body {
                box-shadow: 0px 2px 9px rgba(0, 0, 0, .03);
                padding: 1.56rem 1.25rem 4.375rem;
                form {
                    label, p {
                        color: $dark-text;
                        font-weight: 700;
                    }
                    img {
                        cursor: pointer;
                    }
                    .uploaded-file {
                        border: 1px solid rgba(106, 121, 221, .5);
                        border-radius: 5px;
                        padding: 2.5rem;
                        margin-bottom: .75rem;
                        min-height: 8.4rem;
                    }
                    p {
                        font-weight: 400;
                    }
                    .upload-wrapper {
                        padding: 2.5rem;
                        border: 1px dashed rgba(206, 156, 8, .5);
                        border-radius: 5px;
                        min-height: 8.4rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .inner-content {
        .inner-content__bid-form {
            .card {
                .card-body {
                    .pl-30 {
                        padding-left: 1.875rem;
                    }
                }
            }
        }
    }
}