@import './settings/colors';

.inner-content {
    .inner-content__header {
        display: flex;
        flex-direction: column;
        p {
            color: $generic-text;
            font-size: .875rem;
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
        h4 {
            color: $black;
        }
    }
    .inner-content__project-wrapper {
        margin: 1.5rem 0;
        .card {
            border: none;
            .card-header {
                background-color: $deep-green;
                border-radius: .31rem .31rem 0 0;
                padding: 1.25rem;
                .nav-tabs {
                    border-bottom: transparent;
                    .nav-item {
                        .nav-link {
                            color: rgba(255, 255, 255, .5);
                            font-size: 1.125rem;
                            &:hover {
                                border-color: transparent;
                            }
                            &.active {
                                background-color: transparent;
                                border-color: transparent;
                                color: $white;
                            }
                        }
                    }
                }
            }
            .card-body {
                box-shadow: 0px 2px 9px rgba(0, 0, 0, .03);
                padding: 1.56rem 1.25rem 4.375rem;
                .milestone-details {
                    border-bottom: 1px solid $border-bottom-color;
                    .milestone-key {
                        color: $deep-green;
                        font-weight: bold;
                    }
                }
                .status-card {
                    .card-header {
                        background-color: $off-white;
                        padding: 1rem;
                        border-bottom: 1px solid rgba(151, 151, 151, .15);
                        h4 {
                            font-weight: bold;
                        }
                    }
                    .card-body {
                        background-color: $off-white;
                        padding: 1.56rem 0 0;
                        .contractor-details, .project-details {
                            padding: 0 1.25rem;
                        }
                        p {
                            &:first-child {
                                font-weight: bold;
                            }
                        }
                        button {
                            border-radius: 0;
                            padding-top: .625rem;
                            padding-bottom: .625rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .inner-content {
        .inner-content__project-wrapper {
            .card {
                .card-body {
                    .pl-30 {
                        padding-left: 1.875rem;
                    }
                }
            }
        }
    }
}