@import './settings/colors';

.inner-content {
    .inner-content__header {
        display: flex;
        flex-direction: column;
        p {
            color: $generic-text;
            font-size: .875rem;
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
        h4 {
            color: $black;
        }
    }
    .inner-content__open-bid {
        margin: 1.5rem 0;
        .card {
            border: none;
            .card-header {
                background-color: $deep-green;
                border-radius: .31rem .31rem 0 0;
                padding: 1.25rem;
                .nav-tabs {
                    border-bottom: transparent;
                    .nav-item {
                        .nav-link {
                            color: rgba(255, 255, 255, .5);
                            font-size: 1.125rem;
                            &:hover {
                                border-color: transparent;
                            }
                            &.active {
                                background-color: transparent;
                                border-color: transparent;
                                color: $white;
                            }
                        }
                    }
                }
            }
            .card-body {
                box-shadow: 0px 2px 9px rgba(0, 0, 0, .03);
                padding: 1.56rem 1.25rem 4.375rem;
                .inner-content__search-bar {
                    margin: 1rem 0;
                    box-shadow: 0px 2px 4px rgba(82, 82, 82, 0.12);
                    background: $white;
                    border-radius: .375rem;
                    border: 1px solid rgb(238, 238, 238);
                    padding: .2rem 1rem;
                    .form-control {
                        background: transparent;
                        border: none;
                        &:focus {
                            border: none;
                        }
                    }
                    .custom-select {
                        border: none;
                        background-position-x: 75%;
                        background-color: transparent;
                        color: $gold;
                    }
                    .filter-wrapper {
                        display: flex;
                        align-items: center;
                        padding-bottom: .5rem;
                        h6 {
                            width: 50%;
                            color: $small-text-color;
                            font-size: .8rem;
                        }
                    }
                }
                #table tbody tr {
                    background-color: rgb(245, 245, 245);
                    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05);
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .inner-content {
        .inner-content__open-bid {
            .card {
                .card-body {
                    .pl-30 {
                        padding-left: 1.875rem;
                    }
                    .middle-layer {
                        margin: 1.5rem 0;
                    }
                    .inner-content__search-bar {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .search-wrapper {
                            width: 80%;
                        }
                        .filter-wrapper {
                            width: 20%;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}