.inner-content {
  min-height: calc(100vh - 7.8rem);
  padding: 0; }
  .inner-content h1 {
    color: rgba(206, 156, 8, 0.5);
    font-size: 3rem; }
  .inner-content h3, .inner-content p {
    color: rgba(140, 151, 172, 0.5);
    font-size: 2rem;
    margin: 1rem 0; }
  .inner-content p {
    font-size: 1rem; }

@media (min-width: 768px) {
  .inner-content h1 {
    font-size: 6rem; }
  .inner-content h3 {
    font-size: 4rem; }
  .inner-content p {
    font-size: 1.5rem; } }
@media (min-width: 992px) {
  .main-content .main-content__body .inner-content {
    padding: 2.375rem 2rem; } }

/*# sourceMappingURL=404.css.map */
