.inner-content .inner-content__header {
  display: flex;
  flex-direction: column; }
  .inner-content .inner-content__header p {
    color: #7D7D7D;
    font-size: .875rem; }
  .inner-content .inner-content__header h4 {
    color: #000000; }
.inner-content .inner-content__search-bar {
  margin: 2rem 0 1.5rem;
  box-shadow: 0px 2px 4px rgba(82, 82, 82, 0.12);
  background: #ffffff;
  border-radius: .375rem;
  padding: .2rem 1rem; }
  .inner-content .inner-content__search-bar .form-control {
    background: transparent;
    border: none; }
    .inner-content .inner-content__search-bar .form-control:focus {
      border: none; }
  .inner-content .inner-content__search-bar .custom-select {
    border: none;
    background-position-x: 75%;
    background-color: transparent;
    color: #CE9C08; }
  .inner-content .inner-content__search-bar .filter-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: .5rem; }
    .inner-content .inner-content__search-bar .filter-wrapper h6 {
      width: 50%;
      color: #999999;
      font-size: .8rem; }

@media (min-width: 992px) {
  .inner-content .inner-content__search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .inner-content .inner-content__search-bar .search-wrapper {
      width: 80%; }
    .inner-content .inner-content__search-bar .filter-wrapper {
      width: 20%;
      padding-bottom: 0; } }

/*# sourceMappingURL=all-projects.css.map */
