.inner-content .inner-content__header {
  display: flex;
  flex-direction: column; }
  .inner-content .inner-content__header p {
    color: #7D7D7D;
    font-size: .875rem; }
  .inner-content .inner-content__header h4 {
    color: #000000; }
.inner-content .inner-content__create-user {
  margin: 1.5rem 0; }
  .inner-content .inner-content__create-user .card {
    border: none; }
    .inner-content .inner-content__create-user .card .card-header {
      background-color: #01511A;
      border-radius: .31rem .31rem 0 0;
      padding: 1.25rem; }
      .inner-content .inner-content__create-user .card .card-header h5 {
        color: #ffffff; }
    .inner-content .inner-content__create-user .card .card-body {
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
      padding: 1.56rem 1.25rem 4.375rem; }
      .inner-content .inner-content__create-user .card .card-body form label {
        color: #333333;
        font-weight: 700; }

/*# sourceMappingURL=create-user.css.map */
