.inner-content .inner-content__header {
  display: flex;
  flex-direction: column; }
  .inner-content .inner-content__header p {
    color: #7D7D7D;
    font-size: .875rem; }
  .inner-content .inner-content__header h4 {
    color: #000000; }
  .inner-content .inner-content__header span {
    color: #CE9C08; }
  .inner-content .inner-content__header ul li {
    display: inline-block;
    padding: 0 .875rem;
    font-size: .875rem;
    color: #7D7D7D;
    position: relative; }
    .inner-content .inner-content__header ul li:last-child {
      padding-right: 0; }
    .inner-content .inner-content__header ul li.active {
      color: #0A9C3B;
      padding-bottom: .625rem; }
      .inner-content .inner-content__header ul li.active::after {
        content: '';
        width: 1.56rem;
        background: #0A9C3B;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%); }
.inner-content .inner-content__summary {
  margin: 1.56rem 0; }
  .inner-content .inner-content__summary .card {
    background: #0A2816;
    border: 1px solid #0A2816;
    border-radius: 6px;
    padding: 1.56rem 1.25rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.25rem; }
    .inner-content .inner-content__summary .card img {
      margin-right: 2rem; }
    .inner-content .inner-content__summary .card .summary-text {
      color: #ffffff; }
.inner-content .inner-content__new {
  margin: 0 0 2.5rem 0; }
  .inner-content .inner-content__new h4 {
    color: #CE9C08; }
  .inner-content .inner-content__new .card {
    background: #ffffff;
    border-radius: 0;
    border: transparent;
    padding: 3rem 1.25rem;
    align-items: center;
    margin-top: 1.25rem;
    box-shadow: 0px 4px 1.25rem rgba(0, 0, 0, 0.05); }
    .inner-content .inner-content__new .card img {
      height: 3.375rem;
      margin-bottom: 1rem; }
    .inner-content .inner-content__new .card p {
      margin-bottom: 0; }
.inner-content .inner-content__projects h4 {
  color: #CE9C08; }
.inner-content .inner-content__projects p {
  color: #7D7D7D; }
.inner-content .inner-content__projects .project-search input {
  height: 2.6rem; }

@media (min-width: 992px) {
  .inner-content .inner-content__new .card {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto; } }

/*# sourceMappingURL=dashboard.css.map */
