.forgot-password-page {
  background: url("/assets/images/bg-overlay.svg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  .forgot-password-page .logo-wrapper {
    padding: 1.87rem 0; }
  .forgot-password-page .forgot-password-form {
    flex: 1 0 auto;
    padding: .625rem 0; }
    .forgot-password-page .forgot-password-form h1 {
      margin-bottom: 1.25rem;
      font-weight: 700;
      font-size: 4.5rem; }
    .forgot-password-page .forgot-password-form h1, .forgot-password-page .forgot-password-form p {
      color: #ffffff; }
    .forgot-password-page .forgot-password-form .procurment-wrapper {
      position: relative; }
      .forgot-password-page .forgot-password-form .procurment-wrapper::before {
        content: '';
        width: 3.9rem;
        height: .44rem;
        background: #ffffff;
        position: absolute;
        left: -5rem;
        top: 2.8rem; }
    .forgot-password-page .forgot-password-form .prcurement-title {
      color: #CE9C08; }
    .forgot-password-page .forgot-password-form .card {
      margin-bottom: 1.25rem; }
      .forgot-password-page .forgot-password-form .card .card-body {
        padding-left: 1.875rem;
        padding-right: 1.875rem; }
        .forgot-password-page .forgot-password-form .card .card-body h2 {
          color: #01511A;
          font-weight: 500; }
        .forgot-password-page .forgot-password-form .card .card-body p {
          color: #7D7D7D; }
        .forgot-password-page .forgot-password-form .card .card-body form {
          margin-top: 1.875rem; }
          .forgot-password-page .forgot-password-form .card .card-body form a {
            color: #333333;
            padding: 0 5px; }
          .forgot-password-page .forgot-password-form .card .card-body form .btn {
            margin: 1.25rem 0 2rem 0;
            padding: .75rem 0;
            color: #ffffff; }
          .forgot-password-page .forgot-password-form .card .card-body form p {
            color: #7892BB;
            font-size: .85rem; }
  .forgot-password-page .footer {
    flex-shrink: 0;
    padding: 1.25rem 0; }
    .forgot-password-page .footer .footer-content p {
      color: #ffffff;
      font-size: .85rem; }
    .forgot-password-page .footer .footer-content ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none; }
      .forgot-password-page .footer .footer-content ul li {
        color: #ffffff;
        display: inline-block;
        padding-right: .625rem;
        font-size: .85rem; }
        .forgot-password-page .footer .footer-content ul li a {
          color: #ffffff; }
        .forgot-password-page .footer .footer-content ul li:first-child::after, .forgot-password-page .footer .footer-content ul li:nth-child(2)::after {
          content: '';
          border-left: 1px solid #ffffff;
          margin-left: 1rem; }

@media (max-width: 767px) {
  .forgot-password-page .logo-wrapper img {
    height: 2.3rem; } }
@media (min-width: 992px) {
  .forgot-password-page .forgot-password-form {
    padding: 3rem 0; }
    .forgot-password-page .forgot-password-form .card {
      margin-top: 0;
      margin-bottom: 0; }
  .forgot-password-page .footer .footer-content {
    display: flex;
    justify-content: space-between; } }

/*# sourceMappingURL=forgot-password.css.map */
