.btn {
  border-radius: 3px; }

.btn:focus {
  box-shadow: none; }

.btn-sm {
  padding: .2rem 1.3rem; }

.btn-md {
  padding: .375rem 1.56rem;
  font-size: .9rem; }

.btn-lg {
  padding: .625rem 2.2rem; }

.table-btn {
  border: 1px solid #057431;
  border-radius: 5px;
  font-size: .75rem;
  color: #057431;
  font-weight: 500; }

.btn-primary {
  background-color: #CE9C08;
  border: 1px solid #CE9C08;
  color: #ffffff;
  box-shadow: none;
  height: 3rem; }
  .btn-primary:hover {
    background: #CE9C08;
    border: 1px solid #CE9C08;
    color: #ffffff; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #CE9C08;
  border-color: #CE9C08; }

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none; }

.btn-green-fill {
  background-color: #01511A;
  border: 1px solid #01511A;
  color: #ffffff;
  box-shadow: none; }
  .btn-green-fill:hover {
    background: #057431;
    border: 1px solid #057431;
    color: #ffffff; }

.gold-btn-fill {
  background-color: #CE9C08;
  border: 1px solid #CE9C08;
  color: #333333;
  font-weight: bold;
  box-shadow: none; }
  .gold-btn-fill:hover {
    background: #CE9C08;
    border: 1px solid #CE9C08;
    color: #333333; }

.btn-black-fill {
  background-color: #333333;
  border: 1px solid #333333;
  color: #ffffff;
  box-shadow: none; }
  .btn-black-fill:hover {
    background: #333333;
    border: 1px solid #333333;
    color: #ffffff; }

.btn-green-fill:not(:disabled):not(.disabled).active, .btn-green-fill:not(:disabled):not(.disabled):active, .show > .btn-green-fill.dropdown-toggle {
  background-color: #01511A;
  border-color: #01511A; }

.gold-btn-fill:not(:disabled):not(.disabled).active, .gold-btn-fill:not(:disabled):not(.disabled):active, .show > .gold-btn-fill.dropdown-toggle {
  background-color: #CE9C08;
  border-color: #CE9C08; }

.btn-black-fill:not(:disabled):not(.disabled).active, .btn-black-fill:not(:disabled):not(.disabled):active, .show > .btn-black-fill.dropdown-toggle {
  background-color: #333333;
  border-color: #333333; }

.btn-red-outline {
  background-color: transparent;
  border: 1px solid #B41C40;
  color: #B41C40;
  box-shadow: none; }
  .btn-red-outline:hover {
    background: transparent;
    color: #B41C40; }

.btn-red-outline:not(:disabled):not(.disabled).active, .btn-red-outline:not(:disabled):not(.disabled):active, .show > .btn-red-outline.dropdown-toggle {
  background-color: transparent;
  border-color: #B41C40; }

label {
  color: #057431;
  font-size: .85rem; }

.form-control {
  background: #FCFCFC;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  height: 3.1rem; }
  .form-control:focus {
    box-shadow: none;
    border: 1px solid #057431; }
  .form-control::placeholder {
    font-size: .8rem; }

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none; }

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #01511A;
  background-color: #01511A; }

.custom-control label {
  cursor: pointer; }

#email {
  background: #FCFCFC url("../../../assets/images/email.svg") right center no-repeat;
  background-position-x: 97%; }

#password {
  background: #FCFCFC url("../../../assets/images/lock.svg") right center no-repeat;
  background-position-x: 95%; }

.custom-select {
  font-size: .8rem;
  background: #FCFCFC url("../../../assets/images/chevron-down.svg") right center no-repeat;
  background-position-x: 98%;
  border: 1px solid #EBEBEB; }
  .custom-select:focus {
    border-color: #057431;
    box-shadow: none; }

.date {
  background: url("../../../assets/images/calendar.svg") left center no-repeat;
  background-position-x: 1rem;
  padding-left: 2.5rem; }

.sidebar {
  min-height: 100vh;
  width: 0px;
  overflow: hidden; }
  .sidebar .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .sidebar .sidebar-wrapper {
    min-height: 100vh;
    position: relative;
    background: url("../../../assets/images/sidebar-overlay.svg") center center;
    background-size: cover; }
    .sidebar .sidebar-wrapper .logo-wrapper {
      padding: 1.875rem 0 0 3.125rem; }
      .sidebar .sidebar-wrapper .logo-wrapper img {
        max-height: 6.25rem; }
      .sidebar .sidebar-wrapper .logo-wrapper span {
        position: absolute;
        right: .9rem;
        top: .9rem; }
    .sidebar .sidebar-wrapper .sidebar-links {
      margin-top: 0; }
      .sidebar .sidebar-wrapper .sidebar-links ul li a {
        color: #ffffff;
        display: block;
        padding: .75rem 0 .75rem 3.125rem; }
        .sidebar .sidebar-wrapper .sidebar-links ul li a:hover {
          text-decoration: none;
          color: #CCCACA; }
        .sidebar .sidebar-wrapper .sidebar-links ul li a.active {
          border-left: 0.31rem solid #CE9C08;
          background: rgba(196, 196, 196, 0.2);
          padding-left: 2.815rem; }
      .sidebar .sidebar-wrapper .sidebar-links ul li .list-unstyled {
        padding-left: 1rem; }
        .sidebar .sidebar-wrapper .sidebar-links ul li .list-unstyled li:last-child {
          padding-bottom: 0; }
        .sidebar .sidebar-wrapper .sidebar-links ul li .list-unstyled li .active-child {
          color: #CE9C08; }

.sidebar-open .sidebar {
  width: 80%;
  z-index: 3; }
  .sidebar-open .sidebar .sidebar-overlay {
    width: 100%; }
  .sidebar-open .sidebar .sidebar-links {
    margin-top: 2.5rem; }

.sidebar-open .main-content {
  position: fixed;
  z-index: 2; }

@media (min-width: 992px) {
  .sidebar {
    width: 16.25rem;
    position: fixed; }
    .sidebar .sidebar-wrapper .sidebar-links {
      margin-top: 2.5rem; } }
.header-wrapper {
  background: #ffffff;
  height: 3.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.05);
  padding: 0 1rem; }
  .header-wrapper .hamburger-wrapper {
    visibility: hidden; }
  .header-wrapper .header-nav ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    display: flex;
    align-items: center; }
    .header-wrapper .header-nav ul li {
      display: flex;
      align-items: center;
      height: 3.9rem;
      position: relative;
      cursor: pointer; }
      .header-wrapper .header-nav ul li:nth-child(2) {
        padding: 0 0 0 .9rem; }
      .header-wrapper .header-nav ul li .badge {
        position: absolute;
        top: .875rem;
        right: 0;
        border-radius: 50%;
        font-size: .625rem; }
      .header-wrapper .header-nav ul li .account-info {
        display: flex;
        align-items: center; }
        .header-wrapper .header-nav ul li .account-info .account-info__details {
          margin-right: .625rem; }
          .header-wrapper .header-nav ul li .account-info .account-info__details p {
            color: #333333;
            font-weight: 500;
            display: flex;
            justify-content: flex-end; }
        .header-wrapper .header-nav ul li .account-info .account-info__details small {
          color: #999999;
          font-size: .68rem;
          display: flex;
          justify-content: flex-end;
          font-style: italic; }
        .header-wrapper .header-nav ul li .account-info img {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%; }

@media (min-width: 991px) {
  .header-wrapper {
    padding: 0 2rem; } }
@media (max-width: 991px) {
  .header-wrapper .hamburger-wrapper {
    visibility: visible; } }
#table {
  border-spacing: 0 .625rem; }
  #table thead th {
    border-color: transparent;
    padding-bottom: 0;
    color: #333333;
    font-size: 1rem;
    font-weight: bold; }
    #table thead th:before, #table thead th:after {
      display: none; }
  #table tbody tr {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
    #table tbody tr td {
      font-size: .9rem;
      padding: 1.25rem;
      border: transparent;
      border-radius: 0;
      vertical-align: middle;
      color: #484848; }

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .page-item.active .page-link, .dataTables_wrapper #table_paginate, .dataTables_wrapper #table_info {
  display: none; }

.main-content {
  min-height: 100vh;
  width: 100%;
  margin-left: 0; }
  .main-content .main-content__body {
    min-height: calc(100vh - 7.8rem);
    background: #F6F6F6; }
    .main-content .main-content__body .inner-content {
      padding: 1.56rem 1rem; }
  .main-content .main-content__footer {
    background: #ffffff;
    padding: .31rem 1rem;
    min-height: 3.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main-content .main-content__footer p {
      margin-bottom: 0;
      color: #999999;
      font-size: .9rem; }

@media (min-width: 992px) {
  .main-content {
    width: calc(100% - 16rem);
    margin-left: 16.25rem; }
    .main-content .main-content__footer {
      padding: .31rem 2rem;
      align-items: center;
      flex-direction: row;
      justify-content: space-between; }
    .main-content .main-content__body .inner-content {
      padding: 4.375rem 2rem 2.375rem; }
      .main-content .main-content__body .inner-content .inner-content__header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; } }

/*# sourceMappingURL=global.css.map */
