.inner-content .inner-content__header {
  display: flex;
  flex-direction: column; }
  .inner-content .inner-content__header p {
    color: #7D7D7D;
    font-size: .875rem; }
  .inner-content .inner-content__header h4 {
    color: #000000; }
.inner-content .inner-content__bid-form {
  margin: 1.5rem 0; }
  .inner-content .inner-content__bid-form .card {
    border: none; }
    .inner-content .inner-content__bid-form .card .card-header {
      background-color: #01511A;
      border-radius: .31rem .31rem 0 0;
      padding: 1.25rem; }
      .inner-content .inner-content__bid-form .card .card-header .nav-tabs {
        border-bottom: transparent; }
        .inner-content .inner-content__bid-form .card .card-header .nav-tabs .nav-item .nav-link {
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.125rem; }
          .inner-content .inner-content__bid-form .card .card-header .nav-tabs .nav-item .nav-link:hover {
            border-color: transparent; }
          .inner-content .inner-content__bid-form .card .card-header .nav-tabs .nav-item .nav-link.active {
            background-color: transparent;
            border-color: transparent;
            color: #ffffff; }
    .inner-content .inner-content__bid-form .card .card-body {
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
      padding: 1.56rem 1.25rem 4.375rem; }
      .inner-content .inner-content__bid-form .card .card-body form label, .inner-content .inner-content__bid-form .card .card-body form p {
        color: #333333;
        font-weight: 700; }
      .inner-content .inner-content__bid-form .card .card-body form img {
        cursor: pointer; }
      .inner-content .inner-content__bid-form .card .card-body form .split-form label {
        color: #CE9C08; }
      .inner-content .inner-content__bid-form .card .card-body form .split-form .w-20 {
        width: 20%; }
      .inner-content .inner-content__bid-form .card .card-body form .split-form .w-80 {
        width: 80%; }
      .inner-content .inner-content__bid-form .card .card-body form .uploaded-file {
        border: 1px solid rgba(106, 121, 221, 0.5);
        border-radius: 5px;
        padding: 2.5rem;
        margin-bottom: .75rem;
        min-height: 8.4rem; }
      .inner-content .inner-content__bid-form .card .card-body form p {
        font-weight: 400; }
      .inner-content .inner-content__bid-form .card .card-body form .upload-wrapper {
        padding: 2.5rem;
        border: 1px dashed rgba(206, 156, 8, 0.5);
        border-radius: 5px;
        min-height: 8.4rem; }
  .inner-content .inner-content__bid-form .score-card .card-header {
    background-color: #F8F9FF;
    padding: 1rem;
    border-bottom: 1px solid rgba(151, 151, 151, 0.15); }
    .inner-content .inner-content__bid-form .score-card .card-header h4 {
      font-weight: 600; }
  .inner-content .inner-content__bid-form .score-card .card-body {
    background-color: #F8F9FF;
    padding: 1.56rem 1.25rem 1rem; }
    .inner-content .inner-content__bid-form .score-card .card-body p:first-child {
      width: 30%;
      font-weight: bold; }

@media (min-width: 992px) {
  .inner-content .inner-content__bid-form .card .card-body .pl-30 {
    padding-left: 1.875rem; } }

/*# sourceMappingURL=new-tender-consultancy.css.map */
