.inner-content .inner-content__header {
  display: flex;
  flex-direction: column; }
  .inner-content .inner-content__header p {
    color: #7D7D7D;
    font-size: .875rem; }
  .inner-content .inner-content__header a:hover {
    text-decoration: none; }
  .inner-content .inner-content__header h4 {
    color: #000000; }
.inner-content .inner-content__open-bid {
  margin: 1.5rem 0; }
  .inner-content .inner-content__open-bid .card {
    border: none; }
    .inner-content .inner-content__open-bid .card .card-header {
      background-color: #01511A;
      border-radius: .31rem .31rem 0 0;
      padding: 1.25rem; }
      .inner-content .inner-content__open-bid .card .card-header .nav-tabs {
        border-bottom: transparent; }
        .inner-content .inner-content__open-bid .card .card-header .nav-tabs .nav-item .nav-link {
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.125rem; }
          .inner-content .inner-content__open-bid .card .card-header .nav-tabs .nav-item .nav-link:hover {
            border-color: transparent; }
          .inner-content .inner-content__open-bid .card .card-header .nav-tabs .nav-item .nav-link.active {
            background-color: transparent;
            border-color: transparent;
            color: #ffffff; }
    .inner-content .inner-content__open-bid .card .card-body {
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
      padding: 1.56rem 1.25rem 4.375rem; }
      .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar {
        margin: 1rem 0;
        box-shadow: 0px 2px 4px rgba(82, 82, 82, 0.12);
        background: #ffffff;
        border-radius: .375rem;
        border: 1px solid #eeeeee;
        padding: .2rem 1rem; }
        .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar .form-control {
          background: transparent;
          border: none; }
          .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar .form-control:focus {
            border: none; }
        .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar .custom-select {
          border: none;
          background-position-x: 75%;
          background-color: transparent;
          color: #CE9C08; }
        .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar .filter-wrapper {
          display: flex;
          align-items: center;
          padding-bottom: .5rem; }
          .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar .filter-wrapper h6 {
            width: 50%;
            color: #999999;
            font-size: .8rem; }
      .inner-content .inner-content__open-bid .card .card-body #table tbody tr {
        background-color: whitesmoke;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05); }

@media (min-width: 992px) {
  .inner-content .inner-content__open-bid .card .card-body .pl-30 {
    padding-left: 1.875rem; }
  .inner-content .inner-content__open-bid .card .card-body .middle-layer {
    margin: 1.5rem 0; }
  .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar .search-wrapper {
      width: 80%; }
    .inner-content .inner-content__open-bid .card .card-body .inner-content__search-bar .filter-wrapper {
      width: 20%;
      padding-bottom: 0; } }

/*# sourceMappingURL=view-open-bid.css.map */
