.inner-content .inner-content__header {
  display: flex;
  flex-direction: column; }
  .inner-content .inner-content__header p {
    color: #7D7D7D;
    font-size: .875rem; }
  .inner-content .inner-content__header a:hover {
    text-decoration: none; }
  .inner-content .inner-content__header h4 {
    color: #000000; }
.inner-content .inner-content__project-wrapper {
  margin: 1.5rem 0; }
  .inner-content .inner-content__project-wrapper .card {
    border: none; }
    .inner-content .inner-content__project-wrapper .card .card-header {
      background-color: #01511A;
      border-radius: .31rem .31rem 0 0;
      padding: 1.25rem; }
      .inner-content .inner-content__project-wrapper .card .card-header .nav-tabs {
        border-bottom: transparent; }
        .inner-content .inner-content__project-wrapper .card .card-header .nav-tabs .nav-item .nav-link {
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.125rem; }
          .inner-content .inner-content__project-wrapper .card .card-header .nav-tabs .nav-item .nav-link:hover {
            border-color: transparent; }
          .inner-content .inner-content__project-wrapper .card .card-header .nav-tabs .nav-item .nav-link.active {
            background-color: transparent;
            border-color: transparent;
            color: #ffffff; }
    .inner-content .inner-content__project-wrapper .card .card-body {
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
      padding: 1.56rem 1.25rem 4.375rem; }
      .inner-content .inner-content__project-wrapper .card .card-body .milestone-details {
        border-bottom: 1px solid #D8D8D8; }
        .inner-content .inner-content__project-wrapper .card .card-body .milestone-details .milestone-key {
          color: #01511A;
          font-weight: bold; }
      .inner-content .inner-content__project-wrapper .card .card-body .status-card .card-header {
        background-color: #F8F9FF;
        padding: 1rem;
        border-bottom: 1px solid rgba(151, 151, 151, 0.15); }
        .inner-content .inner-content__project-wrapper .card .card-body .status-card .card-header h4 {
          font-weight: bold; }
      .inner-content .inner-content__project-wrapper .card .card-body .status-card .card-body {
        background-color: #F8F9FF;
        padding: 1.56rem 0 0; }
        .inner-content .inner-content__project-wrapper .card .card-body .status-card .card-body .contractor-details, .inner-content .inner-content__project-wrapper .card .card-body .status-card .card-body .project-details {
          padding: 0 1.25rem; }
        .inner-content .inner-content__project-wrapper .card .card-body .status-card .card-body p:first-child {
          font-weight: bold; }
        .inner-content .inner-content__project-wrapper .card .card-body .status-card .card-body button {
          border-radius: 0;
          padding-top: .625rem;
          padding-bottom: .625rem; }

@media (min-width: 992px) {
  .inner-content .inner-content__project-wrapper .card .card-body .pl-30 {
    padding-left: 1.875rem; } }

/*# sourceMappingURL=view-project.css.map */
